@model k22cnt3_tdt_2210900134.Models.nguoi_dung

@{
    ViewBag.Title = "Xóa người dùng"; 
}

<h2>Xóa người dùng</h2>

<h3>Bạn có chắc chắn muốn xóa người dùng này không?</h3> 
    <h4>nguoi_dung</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ten_dang_nhap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ten_dang_nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mat_khau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mat_khau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.so_du)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.so_du)
        </dd>
    </dl>

    @using (Html.BeginForm()){
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> 
            @Html.ActionLink("Quay lại danh sách", "Index", new { @class = "btn btn-secondary" }) 
        </div>
    }

