@model k22cnt3_tdt_2210900134.Models.giao_dich

@{
    ViewBag.Title = "Chi tiết giao dịch"; 
}

<h2>Chi tiết giao dịch</h2>

<div>
    <h4>Thông tin giao dịch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.so_tien)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.so_tien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dich_vu.ten_dich_vu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dich_vu.ten_dich_vu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoi_dung.ten_dang_nhap)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nguoi_dung.ten_dang_nhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.the_nap.ten_the)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.the_nap.ten_the)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ma_giao_dich }, new { @class = "btn btn-primary" }) | 
    @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary" }) 